/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(7, 10, 44);  
    
    color: #cccccc;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align:justify;
    color:rgb(170,170,170);
}

p {float:right;
    width:330px;
    height:200px;
    margin-top:30px;
    overflow-x:hidden;
    overflow-y:auto;}

p.linkse {float:left;
margin-right:15px;}

header {
    color:rgb(0, 183, 255);
    text-align: center;
font-family:'Trebuchet MS', trebuchet;}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}

/* afleveringen */

ol {float: left;
width:700px;
padding-left:5px;
margin:0px;}

article li {margin:20px;
margin-top:6px;}

.introductie {height: 70px;
width:700px;}

/* foto stijlen */

img {width:150px;
height:100px;
float:right;
margin-left:5px;
margin-bottom: 5px;
margin-right:75px;}

img.zweeflinks {
    float:left;
    margin-left:15px;
    margin-right:15px;
    border: rgb(155,155,155) solid 1px;
}

.karakterfoto {width:200px;
height:192px;
border: rgb(155,155,155) 1px solid;}

a img {clear:both;
width:698px;
height:300px;
margin-right:0px;
border: 1px solid lightblue;}

/* links en speciale tags */
.smalltext {
    font-size: 0.7em;
}

a {
    color:rgb(0, 183, 255);
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

strong {color: rgb(175,175,175);
font-family: georgia, 'serif';}

.klein {height:100px;}

.link-uitleg {height:17px;
width:500px;
margin-left: 150px;
margin-top:10px;}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color:rgb(11, 61, 77);
    overflow: hidden;
}

nav ul li {
    float: left;
    width:20%;
}

nav li a {
    display: block;
    color:rgb(170,170,170);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color:rgb(15, 75, 95);
}

nav li a.active {
    color:rgb(200, 200, 200);
    background-color:rgb(9, 45, 56);
}

/* special effects */
@keyframes veranderkleur{0% {color:rgb(7, 10, 44);} 
100% {color:rgb(0, 183, 255);}}

.veranderkleur {animation: veranderkleur 8s}

@keyframes slide-left { 0% {position:relative; right:1000px;
} 100% {position:relative; right:0px;}}
.slide-left {animation: slide-left 3s}

@keyframes slide-right { 0% {position:relative; left:1000px;
} 100% {position:relative; left:0px;}}
.slide-right {animation: slide-right 3s}